In [1]:
# 모듈 불러오기
import pandas as pd
import numpy as np
import re
import ast

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# 한국어 설정
from matplotlib import font_manager, rc
rc('font', family='Malgun Gothic')

## 1. 데이터 불러오기
### <b> 저는 season 12부터 17까지 컬럼을 엑셀 상에서 미리 삭제했어요 (어차피 하트랜드 안 쓰니까요!!!) <b>

In [56]:
# 데이터 불러오기 1
imdb = pd.read_excel('./imdb_final_6.xlsx', index_col=0)

# 딕셔너리 해제
for i in range(1, 12):
    imdb['season_{}'.format(i)] = imdb.loc[imdb['season_{}'.format(i)].notnull(), 'season_{}'.format(i)].apply(ast.literal_eval)

imdb.tail()

,korean_title,english_title,year,total_season_num,runtime,genre,age_rating,production_country,total_count,total_rate,...,season_9,season_10,season_11,director,writer,actor,imdb_title,imdb_url,wins,nominations
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
900,레일라,Leila,2019,1,46,"드라마, 전쟁, SF",15,인도,9300,5.1,...,NaN,NaN,NaN,"['Deepa Mehta', 'Pawan Kumar', 'Shanker Raman']","['Asad Hussain', 'Deepa Mehta', 'Patrick Graha...","['Huma Qureshi', 'Rahul Khanna', 'Siddharth', ...",Leila (TV Series 2019),https://www.imdb.com/title/tt9337588/,0,0
901,100만 엔의 여인들,Million Yen Women,2017,1,30,"스릴러, 범죄, 드라마, 로맨스",19,일본,2100,7.5,...,NaN,NaN,NaN,"['Hiroto Hara', 'Hirotoshi Hara', 'Kenji Kuwaj...","['Shunjû Aono', 'Yoshimiko Murooka', 'Yoshitak...","['Yôjirô Noda', 'Rila Fukushima', 'Rena Matsui...",1000000 yen no Onnatachi (TV Mini Series 2017),https://www.imdb.com/title/tt6686450/,0,0
902,킬러 코미디언,Hasmukh,2020,1,33,"범죄, 드라마, 스릴러, 코미디",19,인도,2800,5.4,...,NaN,NaN,NaN,['Nikhil Gonsalves'],"['Amogh Ranadive', 'Neeraj Pandey', 'Nikhil Go...","['Vir Das', 'Ranvir Shorey', 'Amrita Bagchi', ...",Hasmukh (TV Mini Series 2020),https://www.imdb.com/title/tt9359294/,2,1
903,달러,Dollar,2019,1,41,"액션, 드라마, 로맨스",15,레바논,651,6.6,...,NaN,NaN,NaN,['Samer Al Barkawi'],['Hisham Hilal'],"['Mark Lewis', 'Adel Karam', 'Amel Bouchoucha'...",Dollar (TV Series 2019),https://www.imdb.com/title/tt10687564/,0,0
904,"엘리트들, 못다 한 이야기: 나디아 구스만",Elite Short Stories: Nadia Guzmán,2021,1,11,"드라마, 로맨스",15,스페인,2100,6.2,...,NaN,NaN,NaN,['Dani de la Orden'],['Carlos Montero'],"['Miguel Bernardeau', 'Mina El Hammani', 'Omar...",Elite Short Stories: Nadia Guzmán (TV Mini Ser...,https://www.imdb.com/title/tt14671790/,0,0

In [57]:
# 데이터 불러오기 2
watcha = pd.read_excel('./watcha_최종본.xlsx', index_col=0)

# 리스트 해제
for i in range(1, 12):
    watcha['season_{}'.format(i)] = watcha.loc[watcha['season_{}'.format(i)].notnull(), 'season_{}'.format(i)].apply(ast.literal_eval)

watcha.tail()

,korean_title,english_title,year,total_season_num,production_country,watcha_name,season_1,season_2,season_3,season_4,season_5,season_6,season_7,season_8,season_9,season_10,season_11
900,레일라,Leila,2019,1,인도,['레일라'],"[3.2, 27, 3]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
901,100만 엔의 여인들,Million Yen Women,2017,1,일본,['100만 엔의 여자들'],"[3.0, 718, 100]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
902,킬러 코미디언,Hasmukh,2020,1,인도,['킬러 코미디언'],"[1.6, 4, 0]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
903,달러,Dollar,2019,1,레바논,['달러'],"[0.7, 3, 1]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
904,"엘리트들, 못다 한 이야기: 나디아 구스만",Elite Short Stories: Nadia Guzmán,2021,1,스페인,"['엘리트들, 못다 한 이야기: 나디아 구스만']","[2.8, 420, 30]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2. 함수 만들기

### (1) IMDb 평점, 평점 매긴 사람 수

In [242]:
# IMDb 평점
def get_imdb_rate(x):
    imdb_rate_lst = []

    # 딕셔너리에서 평점 부분만 가져옴
    for idx, val in x.items():
        imdb_rate_lst.append(val[0])

    # 시즌 평점 평균 구하기
    imdb_rate = np.mean(imdb_rate_lst)

    return imdb_rate

In [243]:
# IMDb 평점 매긴 사람 수
def get_imdb_rate_cnt(x):
    imdb_rate_cnt_lst = []

    # 딕셔너리에서 평점 매긴 사람만 가져옴
    for idx, val in x.items():
        imdb_rate_cnt_lst.append(val[1])


    # 평점을 매긴 사람의 시즌 평균 구하기
    imdb_rate_cnt = np.mean(imdb_rate_cnt_lst)

    return imdb_rate_cnt

In [244]:
# IMDb 평점 함수 예
imdb['season_1'].apply(get_imdb_rate)

Unnamed: 0
0      8.011111
1      7.300000
2      7.762500
3      7.912500
4      7.320000
         ...
900    5.600000
901    7.408333
902    5.500000
903    7.986667
904    6.566667
Name: season_1, Length: 905, dtype: float64

In [245]:
# IMDb 평점 매긴 사람 수 예
imdb['season_1'].apply(get_imdb_rate_cnt)

Unnamed: 0
0      14888.888889
1        183.100000
2         54.125000
3       1950.000000
4        850.700000
           ...
900      263.000000
901       46.916667
902       40.800000
903       30.266667
904      221.666667
Name: season_1, Length: 905, dtype: float64

In [247]:
# IMDb 평점의 최대, 최저
imdb['season_1'].apply(get_imdb_rate).max(), imdb['season_1'].apply(get_imdb_rate).min()

(9.690000000000001, 3.6833333333333336)

In [248]:
# IMDb 평점을 매긴 사람의 최대, 최저
imdb['season_1'].apply(get_imdb_rate_cnt).max(), imdb['season_1'].apply(get_imdb_rate_cnt).min()

(63666.666666666664, 5.558139534883721)

### (2) 왓챠 평점, 평점을 매긴 사람 수, 리뷰를 쓴 사람 수

In [249]:
# 왓챠 평점
def get_watcha_rate(x):
    watcha_tmp = x
    watcha_rate = watcha_tmp[0]
    return watcha_rate

In [250]:
# 왓챠 평점을 매긴 사람 수
def get_watcha_rate_cnt(x):
    watcha_tmp = x
    watcha_rate_cnt = watcha_tmp[1]
    return watcha_rate_cnt

In [251]:
# 왓챠 리뷰를 쓴 사람 수
def get_watcha_rev_cnt(x):
    watcha_tmp = x
    watcha_rev_cnt = watcha_tmp[2]
    return watcha_rev_cnt

In [252]:
# 왓챠 평점의 최대, 최소
watcha['season_1'].apply(get_watcha_rate).max(), watcha['season_1'].apply(get_watcha_rate).min()

(4.5, 0.5)

In [253]:
# 왓챠 평점 매긴 사람 수의 최대, 최소
watcha['season_1'].apply(get_watcha_rate_cnt).max(), watcha['season_1'].apply(get_watcha_rate_cnt).min()

(666000, 1)

In [254]:
# 왓챠 리뷰 쓴 사람 수의 최대, 최소
watcha['season_1'].apply(get_watcha_rev_cnt).max(), watcha['season_1'].apply(get_watcha_rev_cnt).min()

(7500, 0)

### (3) 유지도

In [199]:
# 평점 유지도
def get_rate_retention(x):
    imdb_tmp = list(x.values())
    k = len(imdb_tmp)
    score = (imdb_tmp[k-1][0] / imdb_tmp[0][0])
    return score

In [200]:
# 평점 매긴 사람 수의 유지도
def get_rate_cnt_retention(x):
    imdb_tmp = list(x.values())
    k = len(imdb_tmp)
    score = (imdb_tmp[k-1][1] / imdb_tmp[0][1])
    return score

In [203]:
# 평점 유지도
imdb['season_1'].apply(get_rate_retention)

Unnamed: 0
0      0.914634
1      1.027397
2      1.121622
3      1.063291
4      1.042254
         ...
900    0.982143
901    1.026316
902    0.982759
903    1.037500
904    1.030769
Name: season_1, Length: 905, dtype: float64

In [255]:
# 평점 매긴 사람 수의 유지도
imdb['season_1'].apply(get_rate_cnt_retention)

Unnamed: 0
0      0.875000
1      0.790179
2      0.887097
3      0.800000
4      0.741818
         ...
900    0.757764
901    0.236486
902    0.633333
903    0.704545
904    0.973333
Name: season_1, Length: 905, dtype: float64

In [256]:
# 평점 유지도의 최대, 최소
imdb['season_1'].apply(get_rate_retention).max(), imdb['season_1'].apply(get_rate_retention).min()

(1.8695652173913044, 0.5735294117647058)

In [257]:
# 평점 매긴 사람 수의 유지도의 최대, 최소
imdb['season_1'].apply(get_rate_cnt_retention).max(), imdb['season_1'].apply(get_rate_cnt_retention).min()

(5.612244897959184, 0.012)

### (4) 제작 국가

In [259]:
# 제작 국가 순위 별 점수 부여
def get_country_score(x):
    country_tmp = x.split(', ')

    # 국가 순위 별 점수 (TOP 10 사이트 참고)
    dict_score = {'미국': 1, '대한민국': 0.95, '영국': 0.9, '스페인': 0.85, '프랑스': 0.8, '콜롬비아': 0.75, '멕시코': 0.7,
                 '일본': 0.65, '인도': 0.6, '캐나다': 0.55, '독일': 0.5, '폴란드': 0.45, '이탈리아': 0.4, '중국': 0.35, '러시아': 0.3,
                 '브라질': 0.25, '터키': 0.2, '노르웨이': 0.15, '호주': 0.1}

    # 가장 첫 번째 위치한 국가를 기준으로 점수 부여
    score = dict_score.get(country_tmp[0], 0.05)

    return score

In [260]:
# 제작 국가 점수
imdb['production_country'].apply(get_country_score)

Unnamed: 0
0      0.95
1      0.05
2      0.05
3      1.00
4      0.95
       ...
900    0.60
901    0.65
902    0.60
903    0.05
904    0.85
Name: production_country, Length: 905, dtype: float64

### (5) 대륙

In [261]:
# 대륙별 국가 리스트 딕셔너리 (플릭스 패트롤 공식 홈페이지 참고)
continent_countries = {
    '북미': ['미국', '캐나다'],
    '유럽': [
        '영국', '스페인', '독일', '프랑스', '폴란드', '이탈리아', '스웨덴', '벨기에', '덴마크', '노르웨이', '룩셈부르크',
        '네덜란드', '러시아', '포르투갈', '아이슬란드', '스위스', '체코 공화국', '핀란드', '그리스', '오스트리아', '아일랜드'
    ],
    '아시아': [
        '대한민국', '일본', '인도', '중국', '대만', '태국', '필리핀', '쿠웨이트', '말레이시아', '인도네시아', 
        '터키', '이스라엘', '요르단', '레바논', '사우디아라비아'
    ],
    '아프리카': ['남아프리카공화국', '나이지리아', '이집트', '케냐'],
    '라틴 아메리카': ['멕시코', '브라질', '콜롬비아', '아르헨티나', '칠레'],
    '오세아니아': ['호주', '뉴질랜드']
}

# 대륙별 점수 딕셔너리 (플랙스 패트롤 공식 홈페이지 참고)
continent_scores = {
    '북미': 0.462,
    '유럽': 0.28,
    '아시아': 0.204,
    '아프리카': 0.016,
    '라틴 아메리카': 0.014,
    '오세아니아': 0.009
}

# 국가 문자열을 받아서 대륙 점수를 반환하는 함수
def get_continent_score(country_str):

    # 국가를 ', '로 분리
    countries = country_str.split(', ')
    
    # 첫 번째 국가를 선택
    first_country = countries[0]
    
    # 국가가 속한 대륙 찾기
    for continent, country_list in continent_countries.items():
        if first_country in country_list:

            # 대륙의 점수 반환
            return continent_scores.get(continent, 0.05)
    
    # 국가가 대륙 리스트에 없는 경우 기본 점수 0.05 반환
    return 0.05

In [156]:
# 대륙 점수
imdb['production_country'].apply(get_continent_score)

Unnamed: 0
0      0.204
1      0.280
2      0.204
3      0.462
4      0.204
       ...
900    0.204
901    0.204
902    0.204
903    0.204
904    0.280
Name: production_country, Length: 905, dtype: float64

### (6) 장르

In [296]:
# 넷플릭스 장르 선호도 순위 리스트 (선호도 순서대로 정렬)
genres = [
    '드라마', '코미디', 'SF', '액션', '스릴러', '범죄', '공포', '로맨스', '판타지', '전쟁', '서부', '그 외'
]

# 각 장르에 점수를 선형적으로 할당하여 딕셔너리로 만들기
genre_scores = {genre: 1 - i / (len(genres)) for i, genre in enumerate(genres)}

# '그 외'에 해당되는 장르 리스트
other_genres = ['역사', '가족', '음악', 'Made in Europe', '스포츠']

# 장르 문자열을 받아서 점수를 계산하는 함수

def get_genre_score(genre_str):
    # 장르를 ', '로 분리
    genre_list = genre_str.split(', ')
    
    # '그 외'에 포함된 하위 장르가 있는지 확인
    for genre in genre_list:
        if genre in other_genres:
            return genre_scores['그 외']
    
    # 각 장르의 점수의 평균 계산
    total_score = 0
    count = 0
    for genre in genre_list:
        score = genre_scores.get(genre, genre_scores['그 외'])  # 없는 장르는 '그 외' 점수로 처리
        total_score += score
        count += 1
    
    # 평균 점수 계산
    average_score = total_score / count if count > 0 else 0
    return average_score

In [298]:
# 장르별 점수
imdb['genre'].apply(get_genre_score)

Unnamed: 0
0      0.805556
1      0.833333
2      0.750000
3      0.729167
4      0.652778
         ...
900    0.694444
901    0.666667
902    0.791667
903    0.722222
904    0.708333
Name: genre, Length: 905, dtype: float64

### (7) 장르 다양성 지수

In [262]:
# 장르 다양성 지수
def get_genre_diversity(x):
    genre_len = len(x.split(', '))
    return genre_len

In [180]:
# 장르 다양성 지수
imdb['genre'].apply(get_genre_diversity)

Unnamed: 0
0      3
1      2
2      3
3      4
4      6
      ..
900    3
901    4
902    4
903    3
904    2
Name: genre, Length: 905, dtype: int64

### (8) 연령 등급

In [176]:
# 연령 등급에 따른 함수
def get_age_rating_score(x):
    if x == 19:
        return 0.5
    elif x == 15:
        return 0.4
    else:
        return 0.1

In [177]:
# 연령 등급에 따른 점수
imdb['age_rating'].apply(get_age_rating_score)

Unnamed: 0
0      0.5
1      0.5
2      0.5
3      0.4
4      0.5
      ...
900    0.4
901    0.5
902    0.5
903    0.4
904    0.4
Name: age_rating, Length: 905, dtype: float64

## 3. 점수 부여
- 최댓값으로 나누기: 이건 사용 안 할 것 같아요.
- 인원 수에만 로그: 가장 분포가 다양한 인원 수에만 로그를 취해봄
- 모든 요소에 로그: 이상치가 많은 (분포가 정규성을 띄지 않는) 점을 고려
- 모든 요소에 log1p: 0 또는 음수가 나오는 경우를 방지하기 위해 1을 더하고 로그를 취함

In [334]:
# 점수 부여: 최댓값으로 나누기 (이건 아마 사용 안 할듯..)
for i in range(0, 905):
    imdb_tmp = imdb.loc[i, 'season_1']; watcha_tmp = watcha.loc[i, 'season_1']
    genre = imdb.loc[i, 'genre']; country = imdb.loc[i, 'production_country']; age = imdb.loc[i, 'age_rating']

    rate = 0.8 * (get_imdb_rate(imdb_tmp)/10) + 0.2 * (get_watcha_rate(watcha_tmp)/5)
    cnt = 0.8 * (get_imdb_rate_cnt(imdb_tmp)/64000) + 0.2 * (get_watcha_rate_cnt(watcha_tmp)/666000)
    ret = 1/4 * (get_rate_retention(imdb_tmp)/1.9) + 3/4 * (get_rate_cnt_retention(imdb_tmp)/5.7)
    info = 0.4 * (get_country_score(country) + get_continent_score(country)) / 2 + 0.4 * get_genre_score(genre) + 0.1 * get_genre_diversity(genre)/9 + 0.1 * (get_age_rating_score(age))
    total = (0.7 * (rate + 3 * cnt + 1 * ret) + 0.3 * info) * 100

    imdb.loc[i, 'score'] = total

In [343]:
# 점수 부여: 인원 수에만 로그를 취함
for i in range(0, 905):
    imdb_tmp = imdb.loc[i, 'season_1']; watcha_tmp = watcha.loc[i, 'season_1']
    genre = imdb.loc[i, 'genre']; country = imdb.loc[i, 'production_country']; age = imdb.loc[i, 'age_rating']

    rate = 0.8 * (get_imdb_rate(imdb_tmp)) + 0.2 * (get_watcha_rate(watcha_tmp))
    cnt = 0.8 * np.log(get_imdb_rate_cnt(imdb_tmp)) + 0.2 * np.log(get_watcha_rate_cnt(watcha_tmp))
    ret = 1/4 * (get_rate_retention(imdb_tmp)) + 3/4 * (get_rate_cnt_retention(imdb_tmp))
    info = 0.4 * (get_country_score(country) + get_continent_score(country)) / 2 + 0.4 * get_genre_score(genre) + 0.1 * get_genre_diversity(genre) + 0.1 * (get_age_rating_score(age))
    total = (0.7 * (rate + 3 * cnt + 1 * ret) + 0.3 * info) * 100

    imdb.loc[i, 'score'] = total

In [340]:
# 점수 부여: 모든 요소에 로그를 취함
for i in range(0, 905):
    imdb_tmp = imdb.loc[i, 'season_1']; watcha_tmp = watcha.loc[i, 'season_1']
    genre = imdb.loc[i, 'genre']; country = imdb.loc[i, 'production_country']; age = imdb.loc[i, 'age_rating']

    rate = 0.8 * np.log(get_imdb_rate(imdb_tmp)) + 0.2 * np.log(get_watcha_rate(watcha_tmp))
    cnt = 0.8 * np.log(get_imdb_rate_cnt(imdb_tmp)) + 0.2 * np.log(get_watcha_rate_cnt(watcha_tmp))
    ret = 1/4 * np.log(get_rate_retention(imdb_tmp)) + 3/4 * np.log(get_rate_cnt_retention(imdb_tmp))
    info = 0.4 * np.log((get_country_score(country) + get_continent_score(country)) /2) + 0.4 * np.log(get_genre_score(genre)) + 0.1 * np.log(get_genre_diversity(genre)) + 0.1 * np.log(get_age_rating_score(age))
    total = (0.7 * (rate + 3 * cnt + 1 * ret) + 0.3 * info) * 100

    imdb.loc[i, 'score'] = total

In [349]:
# 점수 부여: 모든 요소에 log1p를 취함 (음수 또는 0인 경우를 방지하기 위함)
for i in range(0, 905):
    imdb_tmp = imdb.loc[i, 'season_1']; watcha_tmp = watcha.loc[i, 'season_1']
    genre = imdb.loc[i, 'genre']; country = imdb.loc[i, 'production_country']; age = imdb.loc[i, 'age_rating']

    rate = 0.8 * np.log1p(get_imdb_rate(imdb_tmp)) + 0.2 * np.log1p(get_watcha_rate(watcha_tmp))
    cnt = 0.8 * np.log1p(get_imdb_rate_cnt(imdb_tmp)) + 0.2 * np.log1p(get_watcha_rate_cnt(watcha_tmp))
    ret = 1/4 * np.log1p(get_rate_retention(imdb_tmp)) + 3/4 * np.log1p(get_rate_cnt_retention(imdb_tmp))
    info = 0.4 * np.log1p((get_country_score(country) + get_continent_score(country)) / 2) + 0.4 * np.log1p(get_genre_score(genre)) + 0.1 * np.log1p(get_genre_diversity(genre)) + 0.1 * np.log1p(get_age_rating_score(age))
    total = (0.7 * (rate + 3 * cnt + 1 * ret) + 0.3 * info) * 100

    imdb.loc[i, 'score'] = total

In [265]:
# 주요 컬럼
imp = ['korean_title', 'total_season_num', 'genre', 'age_rating', 'production_country', 'season_1', 'score']

In [350]:
# 인기 없는 드라마 TOP 20
imdb.sort_values('score')[imp].head(20)

,korean_title,total_season_num,genre,age_rating,production_country,season_1,score
Unnamed: 0,,,,,,,
119,컨트리 퀸,1,드라마,15,케냐,"{'S1.E1': [5.7, 11, 'Fri, Jul 15, 2022'], 'S1....",581.493915
818,케이지,1,"드라마, 코미디, 로맨스",12,쿠웨이트,"{'S1.E1': [8.1, 9, 'Fri, Sep 23, 2022'], 'S1.E...",588.991012
686,여름의 비밀,1,"드라마, 가족",12,아르헨티나,"{'S1.E1': [7.1, 14, 'Wed, Feb 16, 2022'], 'S1....",616.192097
800,새비지 리듬,1,"드라마, 음악",19,콜롬비아,"{'S1.E1': [7.1, 12, 'Wed, Mar 2, 2022'], 'S1.E...",620.464014
681,타임 허슬러,1,"코미디, SF, 서부, 드라마",15,브라질,"{'S1.E1': [7.9, 14, 'Sun, Dec 25, 2022'], 'S1....",652.109355
227,앗! 크리스마스라니,1,"코미디, 로맨스, 드라마",15,남아프리카공화국,"{'S1.E1': [6.6, 11, 'Fri, Dec 15, 2023'], 'S1....",658.647062
783,체조 아카데미: 두 번째 기회,1,"드라마, 가족, 스포츠",ALL,호주,"{'S1.E1': [8.1, 21, 'Fri, Sep 16, 2022'], 'S1....",660.485751
826,#노필터,1,"코미디, 드라마",15,브라질,"{'S1.E1': [6.9, 18, 'Wed, Feb 15, 2023'], 'S1....",660.521237
784,매버릭스,1,"가족, 스포츠, 드라마, 액션, 코미디",ALL,호주,"{'S1.E1': [8.1, 18, 'Thu, May 12, 2022'], 'S1....",681.258905
898,죽음의 타임캡슐,1,"스릴러, 드라마, 범죄",15,대만,"{'S1.E1': [7.1, 8, 'Thu, Oct 5, 2017'], 'S1.E2...",683.051245
234,대리모,1,드라마,19,멕시코,"{'S1.E1': [7.4, 24, 'Wed, Jun 14, 2023'], 'S1....",687.047786
613,자이바!,1,드라마,15,남아프리카공화국,"{'S1.E1': [8.4, 18, 'Thu, Jun 24, 2021'], 'S1....",715.637338
364,인생은 오답노트,1,"로맨스, 코미디, 드라마",19,남아프리카공화국,"{'S1.E1': [7.1, 23, 'Fri, Sep 15, 2023'], 'S1....",718.175087
739,굿 캅 대니,1,"드라마, 코미디",15,이스라엘,"{'S1.E1': [7.9, 25, 'Sat, Aug 15, 2015'], 'S1....",724.463521
749,여름의 열기,1,"드라마, 로맨스",15,브라질,"{'S1.E1': [5.2, 17, 'Fri, Jan 21, 2022'], 'S1....",724.928423
400,마이 런웨이,1,"코미디, 드라마, 판타지, 로맨스",12,대한민국,"{'S1.E1': [7.4, 10, 'Wed, Mar 22, 2023'], 'S1....",730.729874
797,스트레인지 스토리,1,"드라마, 로맨스",15,인도,"{'S1.E1': [5.9, 23, 'Fri, Feb 19, 2021'], 'S1....",735.707234
813,파나티코,1,드라마,19,스페인,"{'S1.E1': [7.5, 24, 'Fri, Jul 29, 2022'], 'S1....",747.007478
820,코요테 스카우트,1,드라마,19,"벨기에, 룩셈부르크","{'S1.E1': [5.4, 21, 'Fri, Mar 19, 2021'], 'S1....",760.373574
162,셰프 치코의 빈자리를 채워라,1,"드라마, 로맨스",19,필리핀,"{'S1.E1': [7.6, 23, 'Fri, Nov 24, 2023'], 'S1....",761.535493

In [351]:
# 인기 있는 드라마 TOP 20
imdb.sort_values('score', ascending=False)[imp].head(20)

,korean_title,total_season_num,genre,age_rating,production_country,season_1,score
Unnamed: 0,,,,,,,
46,블랙 미러,6,"SF, 스릴러, 범죄, 드라마",19,영국,"{'S1.E1': [7.6, 63000, 'Thu, Oct 5, 2017'], 'S...",2526.508039
17,브레이킹 배드,5,"드라마, 범죄, 스릴러",19,미국,"{'S1.E1': [9.0, 44000, 'Thu, Oct 5, 2017'], 'S...",2407.340830
7,워킹 데드,11,"드라마, SF, 액션, 공포, 스릴러",19,미국,"{'S1.E1': [9.2, 30000, 'Tue, Oct 8, 2019'], 'S...",2398.182939
24,기묘한 이야기,4,"드라마, SF, 스릴러, 판타지, 공포",15,미국,"{'S1.E1': [8.5, 27000, 'Fri, Jul 15, 2016'], '...",2388.964071
0,오징어 게임,1,"액션, 드라마, 스릴러",19,대한민국,"{'S1.E1': [8.2, 16000, 'Fri, Sep 17, 2021'], '...",2301.441460
31,위쳐,3,"액션, SF, 드라마, 판타지",19,미국,"{'S1.E1': [8.2, 26000, 'Fri, Dec 20, 2019'], '...",2279.782277
42,베터 콜 사울,6,"범죄, 드라마",19,미국,"{'S1.E1': [8.4, 23000, 'Tue, May 5, 2020'], 'S...",2254.964541
43,퀸스 갬빗,1,드라마,19,미국,"{'S1.E1': [8.4, 12000, 'Fri, Oct 23, 2020'], '...",2249.626855
54,덱스터,8,"범죄, 드라마, 스릴러",19,미국,"{'S1.E1': [8.6, 11000, 'Sun, Oct 1, 2006'], 'S...",2193.449599
27,피키 블라인더스,6,"드라마, 범죄",19,영국,"{'S1.E1': [8.0, 14000, 'Wed, Jan 6, 2016'], 'S...",2188.585827
13,다크,3,"드라마, SF, 스릴러, 범죄",19,독일,"{'S1.E1': [8.2, 16000, 'Fri, Dec 1, 2017'], 'S...",2170.632060
63,원피스,1,"액션, SF, 코미디, 드라마, 판타지",15,미국,"{'S1.E1': [8.3, 14000, 'Thu, Aug 31, 2023'], '...",2146.111768
51,종이의 집,5,"스릴러, 액션, 범죄, 드라마, Made in Europe",19,스페인,"{'S1.E1': [8.1, 9700, 'Wed, Dec 20, 2017'], 'S...",2137.327579
350,루머의 루머의 루머,4,"드라마, 스릴러",19,미국,"{'S1.E1': [8.2, 7900, 'Thu, Oct 5, 2017'], 'S1...",2137.047144
66,힐 하우스의 유령,1,"스릴러, 드라마, 공포",19,미국,"{'S1.E1': [8.1, 10000, 'Fri, Oct 12, 2018'], '...",2133.012776
61,오티스의 비밀 상담소,4,"코미디, 드라마, 로맨스",19,영국,"{'S1.E1': [7.9, 6700, 'Fri, Jan 11, 2019'], 'S...",2117.122472
9,플래시,9,"액션, 드라마, SF",15,미국,"{'S1.E1': [8.3, 9600, 'Thu, Oct 5, 2017'], 'S1...",2108.681091
196,기예르모 델토로의 호기심의 방,1,"드라마, 스릴러, 공포",19,미국,"{'S1.E1': [6.6, 14000, 'Tue, Oct 25, 2022'], '...",2106.480074
20,마인드헌터,2,"드라마, 범죄, 스릴러",19,미국,"{'S1.E1': [7.8, 9100, 'Fri, Oct 13, 2017'], 'S...",2104.101472
59,하우스 오브 카드,6,드라마,19,미국,"{'S1.E1': [8.5, 8500, 'Thu, Oct 5, 2017'], 'S1...",2102.519587

In [352]:
imdb['score'].max()

2526.5080386054333

In [353]:
imdb['score'].min()

581.4939151565134

In [354]:
imdb['score'].mean(), imdb['score'].median()

(1341.7406121270549, 1299.388072323397)

In [355]:
imdb['score'].std()

343.97909731201383

## 4. 시계열 데이터를 만들어보려다가 실패한 흔적

In [72]:
from datetime import datetime

# 시즌별 데이터를 담을 리스트 초기화
season_columns = [f'season_{i}' for i in range(1, 12)]  # 시즌 1부터 시즌 11까지

# 결과를 담을 리스트 초기화
season_gaps = []

# 각 행을 순회하며 시즌 간격을 계산
for idx, row in imdb.iterrows():
    # 시즌 데이터를 담을 리스트 초기화
    seasons = []
    
    for season_col in season_columns:
        if season_col in row and pd.notnull(row[season_col]):
            season_data = row[season_col]  # 문자열을 dict 형태로 변환
            seasons.append(season_data)
    
    # 시즌이 2개 이상인 경우에만 계산
    if len(seasons) > 1:
        for i in range(len(seasons) - 1):
            try:
                # 현재 시즌의 마지막 에피소드 방영일자
                last_episode_current_season = list(seasons[i].values())[-1][2]
                if last_episode_current_season:
                    last_air_date = datetime.strptime(last_episode_current_season, "%a, %b %d, %Y")
                else:
                    continue
                
                # 다음 시즌의 첫 번째 에피소드 방영일자
                first_episode_next_season = list(seasons[i + 1].values())[0][2]
                if first_episode_next_season:
                    next_air_date = datetime.strptime(first_episode_next_season, "%a, %b %d, %Y")
                else:
                    continue
                
                # 시즌 간의 간격 계산
                gap_days = (next_air_date - last_air_date).days
                
                # 결과 저장
                season_gaps.append({
                    'korean_title': row['korean_title'],
                    'season': f"{i + 2}",
                    'gap_days': gap_days,
                    'gap_years_months': gap_years_months
                })
            except KeyError as e:
                print(f"KeyError: {e} in row {idx} for season {i + 1} to season {i + 2}")
            except ValueError as e:
                print(f"ValueError: {e} in row {idx} for season {i + 1} to season {i + 2}")

# 결과 데이터 프레임 생성
season_gaps_df = pd.DataFrame(season_gaps)

# 결과 출력
season_gaps_df.head()

         korean_title season  gap_days gap_years_months
0  스위트 투스: 사슴뿔을 가진 소년      2       692          1년 10개월
1                스위트홈      2      1078          2년 11개월
2                굿 닥터      2       182           0년 6개월
3                굿 닥터      3       196           0년 6개월
4                굿 닥터      4       217           0년 7개월

In [74]:
season_gaps_df.head(50)

          korean_title season  gap_days gap_years_months
0   스위트 투스: 사슴뿔을 가진 소년      2       692          1년 10개월
1                 스위트홈      2      1078          2년 11개월
2                 굿 닥터      2       182           0년 6개월
3                 굿 닥터      3       196           0년 6개월
4                 굿 닥터      4       217           0년 7개월
5                 굿 닥터      5       112           0년 3개월
6                 굿 닥터      6       140           0년 4개월
7                워킹 데드      2       315          0년 10개월
8                워킹 데드      3       210           0년 7개월
9                워킹 데드      4       196           0년 6개월
10               워킹 데드      5       196           0년 6개월
11               워킹 데드      6       196           0년 6개월
12               워킹 데드      7       203           0년 6개월
13               워킹 데드      8       203           0년 6개월
14               워킹 데드      9       175           0년 5개월
15               워킹 데드     10       189           0년 6개월
16               워킹 데드     11       133           0년 4개월
17    비르기트: 왕국, 권력, 영광      2       301          0년 10개월
18    비르기트: 왕국, 권력, 영광      3       401           1년 1개월
19    비르기트: 왕국, 권력, 영광      4      3262          8년 11개월
20                 플래시      2       140           0년 4개월
21                 플래시      3       133           0년 4개월
22                 플래시      4       140           0년 4개월
23                 플래시      5       140           0년 4개월
24                 플래시      6       147           0년 4개월
25                 플래시      7       294           0년 9개월
26                 플래시      8       119           0년 3개월
27                 플래시      9       224           0년 7개월
28                브리저튼      2       455           1년 3개월
29                  슈츠      2       280           0년 9개월
30                  슈츠      3       145           0년 4개월
31                  슈츠      4        62           0년 2개월
32                  슈츠      5       112           0년 3개월
33                  슈츠      6       133           0년 4개월
34                  슈츠      7       133           0년 4개월
35                  슈츠      8        84           0년 2개월
36                  슈츠      9       140           0년 4개월
37                  다크      2       567           1년 6개월
38                  다크      3       372           1년 0개월
39                아웃랜더      2       315          0년 10개월
40                아웃랜더      3       428           1년 2개월
41                아웃랜더      4       329          0년 10개월
42                아웃랜더      5       383           1년 0개월
43                아웃랜더      6       665          1년 10개월
44             드래곤 사쿠라      2      5700          15년 7개월
45             브레이킹 배드      2       364          0년 12개월
46             브레이킹 배드      3       294           0년 9개월
47             브레이킹 배드      4       399           1년 1개월
48             브레이킹 배드      5       280           0년 9개월
49          그녀의 이름은 난노      2       919           2년 6개월